<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>test</title>
		<!-- 新 Bootstrap 核心 CSS  page 分页 文件 -->
		<link rel="stylesheet" href="bootstrap-page.css">
	</head>
	
<body>
<div id="divMain">
    <table class="table table-bordered">
    	<input type="button" value="筛选type值为0的" ng-click="TypeSelect(0)"/>&nbsp;&nbsp;
    	<input type="button" value="筛选type值为1的" ng-click="TypeSelect(1)"/>&nbsp;&nbsp;
    	<input type="button" value="全部显示" ng-click="TypeSelect()"/>
    	<br />
        <tr>
        	<!--<th ng-repeat="(x,y) in items[0]">{{ x }}</th>-->
            <th>index</th>
            <th>id</th>
            <th>title</th>
            <th></th>
            <th bgcolor="red">type</th>
            <th></th>
            <th>state</th>
        </tr>
        <tr ng-repeat="x in solutionInfoList">
            <td>{{ $index + 1 }}</td>
            <td ng-bind="x.id"></td>
            <td ng-bind="x.title"></td>
            <td></td>
            <td ng-bind="x.type" align="center" bgcolor="red"></td>
            <td></td>
            <td ng-bind="x.state" align="right"></td>
        </tr>
    </table>
    <nav>
        <ul class="pagination">
            <li>
                <a ng-click="Previous()">
                    <span>上一页</span>
                </a>
            </li>
            <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
                <a ng-click="selectPage(page)" >{{ page }}</a>
            </li>
            <li>
                <a ng-click="Next()">
                    <span>下一页</span>
                </a>
            </li>
        </ul>
    </nav>
</div>


	
</body>	
	
</html>
